.icone-menu{
    width: 100px ;
}
.bloco-dois, .terceiro-bloco, .quarto-bloco, .quinto-bloco, .sexto-bloco{
    margin-top: 50px;
}
.card-header{
    color: white;
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 66%, rgba(255,251,251,1) 100%);

}
.img-rodape{
    width: 400px;
}


.navbar{
   
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 30%, rgba(255,251,251,1) 68%, rgba(0,0,0,1) 96%);
    
}
.a-rodape{
    text-decoration: none;
    color: white;}

.a-rodape:hover {
    text-decoration: none;
    color: white;
}

footer{
    padding: 20px 0;
      color:white;
    background-color: black;
}
.b-rodape, .a-botao{
    text-decoration: none;
    color: white;
}

.b-rodape:hover, .a-botao:hover {
    text-decoration: none;
    color: white;
}
.a-slide{
    color: white;
}
.texto-um{
    margin-top: 75px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.titulo-um{
    margin-left: 350px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-top: 220px;
}
.texto-dois, .texto-tres{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;

}
  